
-- Add like_count column to media_files
ALTER TABLE public.media_files ADD COLUMN IF NOT EXISTS like_count INTEGER DEFAULT 0;

-- Function to update like count
CREATE OR REPLACE FUNCTION update_media_like_count()
RETURNS TRIGGER AS d:\event
BEGIN
    IF (TG_OP = 'INSERT') THEN
        UPDATE public.media_files 
        SET like_count = like_count + 1
        WHERE id = NEW.file_id;
    ELSIF (TG_OP = 'DELETE') THEN
        UPDATE public.media_files 
        SET like_count = like_count - 1
        WHERE id = OLD.file_id;
    END IF;
    RETURN NULL;
END;
d:\event LANGUAGE plpgsql SECURITY DEFINER;

-- Trigger for media_likes
DROP TRIGGER IF EXISTS tr_update_like_count ON public.media_likes;
CREATE TRIGGER tr_update_like_count
AFTER INSERT OR DELETE ON public.media_likes
FOR EACH ROW EXECUTE FUNCTION update_media_like_count();

-- Optional: Sync existing counts
UPDATE public.media_files m
SET like_count = (SELECT count(*) FROM public.media_likes l WHERE l.file_id = m.id);

